.primary {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 2rem;
    background-color: var(--bg-header);
    border-radius: 3px;
    box-shadow: 0rem 1rem 2rem var(--black-light-shadow);
    margin: 0;
    display: block;
}

.secondary {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem 10rem;
    background-color: var(--bg-header);
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
    border-radius: 3px;
    display: inline-block;
    margin: 0 auto;
}

.tertiary {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 2rem;
    display: block;
    margin: 0 auto;
}