.wrapper {
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.group {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
        flex-wrap: wrap;
    }
}

.label {
    font-size: 2rem;
    padding: .8rem 1rem;
    transition: all .3s;
    color: var(--text-color-label);
    letter-spacing: .15rem;
    cursor: pointer;
}

.input {
    width: 40%;
    font-size: 2rem;
    padding: .8rem 1rem;
    border-radius: 5px;
    border: 1px solid #dedede;
    transition: all .4s;
    outline: none;
    letter-spacing: .15rem;
    box-shadow: none;


    &::placeholder {
        color: var(--text-color-label);
        letter-spacing: .15rem;
    }

    &:focus {
        border: 1px solid var(--button-bg);
        box-shadow: 0 0 0 2px rgba(223, 89, 31, .12);
    }

    &::-webkit-calendar-picker-indicator {
        opacity: 0.5;
    }

    @media screen and (max-width: 500px) {
        width: 100%;
    }
}

.error {
    color: var(--error);
    padding: 1rem;
    margin: 0;
    font-size: 1.2rem;
}
