.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 4rem 4rem;
  background-color: var(--bg-transparent-black);
  gap: 2rem;


  @media screen and (max-width: 650px) {
    padding: 0 1rem 1rem;
  }
}

.content {
  background-color: var(--bg-header);
  width: 100%;
  align-self: flex-end;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 0;
  margin-top: 0;

  & p {
    font-size: 2rem;
    margin: 0rem;
    padding: 1rem 2rem;
  }
}

.link {
    display: flex;
    justify-content: center;
    
  margin: 2rem auto;
}

.image {
    padding: 0;
  border-radius: 8px;
  width: calc(100% - 2rem);
  height: auto;
  margin: 1rem auto;
  display: block;
}
