.wrapper {
    width: 100%;
    padding: 2rem;
    background: inherit;
}

.title {
    margin: 0 0 2rem;
    color: #252525;
    font-size: 2.2rem;
    font-weight: 700;
}

.text {
    z-index: 1;
    margin: 0;
    padding: .6rem 0;
    color: #5f5f5f;
    font-size: 1.6rem;
    line-height: 1.7;
    background: inherit;
}

.list {
    position: relative;
    margin: 0;
    padding: 0;
    background: inherit;

    &__line {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: .7rem 0;
        border-bottom: 1px solid #eeeeee;
        background: inherit;
    }

    &__name,
    &__value {
        z-index: 1;
        margin: 0;
        padding: .5rem 0;
        background: inherit;
        font-size: 1.5rem;
    }

    &__value {
        color: #666;
        text-align: right;
    }
}
