.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textBlock {
    font-size: 1.8em;
    line-height: 1.6em;
    color: #333;
    background-color: var(--bg-header);
    padding: 1em;
    border-radius: 3px;

}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBlock ul,
.textBlock ol {
    padding-left: 20px;
}

.textBlock ul {
    list-style: circle;
}

.textBlock li {
    margin-bottom: 8px;
}

.image {
    max-width: 100%;
    height: auto;
}