.contentEnter {
  opacity: 0;
  transform: translateX(-1000px) rotateY(-18deg);
}

.contentEnterActive {
  opacity: 1;
  transform: translateX(0) rotateY(0);
  transition: opacity 400ms, transform 500ms cubic-bezier(1, 0.29, 0.62, 1.35);
  transition-delay: 500ms;
}

.contentExit {
  opacity: 1;
  transform: translateX(0) rotateY(0);
}

.contentExitActive {
  opacity: 0;
  transform: translateX(1000px) rotateY(38deg);
  transition: opacity 500ms, transform 500ms cubic-bezier(0.55, -0.34, 0.25, 0.87);
}

.overlayEnterActive {
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.overlayExitActive {
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
